<ion-content class="login-content">
  <!-- Header Section -->
  <div class="upper">
    <div class="icon" style="padding-bottom: 3%;">
    </div>
  </div>

  <!-- Login Form -->
  <div class="middle">
    <div class="box">
      <form #loginForm="ngForm" (ngSubmit)="handleLogin()">
        
        <!-- Email Field -->
        <ion-item>
          <ion-label position="floating">Email Address</ion-label><br>
          <ion-input type="email" placeholder="Enter Your Email Address" name="email" #email="ngModel" [(ngModel)]="loginData.email" required email></ion-input>
          <ion-icon class="ion-align-self-center" slot="end" name="mail"></ion-icon>
        </ion-item>
        <div *ngIf="email.invalid && email.touched">
          <ion-text color="danger">
            <h4>Please Write Email Address</h4>
          </ion-text>
        </div>
        
        <!-- Password Field -->
        <ion-item>
          <ion-label position="floating">Password</ion-label><br>
          <ion-input [type]="type ? 'password' : 'text'" placeholder="Enter Your Password" name="password" #password="ngModel" [(ngModel)]="loginData.password" required></ion-input>
          <ion-icon class="ion-align-self-center" slot="end" (click)="changeType()" [name]="type ? 'eye' : 'eye-off'"></ion-icon>
        </ion-item>
        <div *ngIf="password.invalid && password.touched">
          <ion-text color="danger">
            <h4>Please Provide Password</h4>
          </ion-text>
        </div>
        
        <!-- Forgot Password Link -->
        <div class="links">
          <p id="forgetPassword" (click)="goToForget()" class="link-with-arrow">
            Forgot Password
            <ion-icon name="arrow-forward" class="arrow-icon"></ion-icon>
          </p>
        </div>

        <!-- Login Button -->
        <div class="btn">
          <ion-button type="submit" [disabled]="loginForm.invalid">Login</ion-button>
        </div>
      </form>
    </div>
  </div>

  <!-- Registration Link -->
  <div class="navigator">
    <p (click)="goToRegister()" class="link-with-arrow">
      Don't have an Account? Register Now
      <ion-icon name="arrow-forward" class="arrow-icon"></ion-icon>
    </p>
  </div>
</ion-content>
