/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


.datatable-container ngx-datatable {
    border: 1px solid #ccc; /* Add a border to the ngx-datatable */
    border-radius: 5px; /* Optional: Add some border-radius for rounded corners */
  }
  
  .datatable-container ngx-datatable .datatable-header, 
  .datatable-container ngx-datatable .datatable-body, 
  .datatable-container ngx-datatable .datatable-footer {
    border-top: 1px solid #ccc; /* Add a top border to table sections */
  }
  
  .datatable-container ngx-datatable .datatable-row-group {
    border-top: 1px solid #ccc; /* Add a top border to row groups */
  }
  .datatable-container ngx-datatable .datatable-body-cell {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Optional: Align items vertically in the center */
  }
  